/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* General styles for header and logo */


/* Main Content Styles */
main {
    padding: 20px; /* Padding for main content */
}

h1 {
    text-align: center; /* Center align headings */
    margin: 40px 0; /* Margin for heading */
}

/* Gallery Styles */
.gallery {
    display: grid; /* Use grid for gallery */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid */
    gap: 15px; /* Space between grid items */
    padding: 20px; /* Padding for gallery */
}

.gallery img {
    width: 100%; /* Make images responsive */
    border-radius: 5px; /* Rounded corners for images */
}

 /* Footer Section */
 footer {
    background-color: #333;
    color: white;
    padding: 50px 0;
}
.contact-top {
    text-align: center;
  }

.contact-middle {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-middle div {
    flex: 1;
    padding: 15px;
}

.contact-middle div span {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-middle div p {
    margin: 0;
}

.contact-icon {
    font-size: 24px;
    color: #007bff;
    margin-right: 10px;
}



.slider {
    position: relative;
    overflow: hidden;
    height: 80vh;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    height: 80vh;
    object-fit: cover;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-align: center;
}

.carousel-overlay h1 {
    font-size: 4rem;
    animation: flash 3s infinite;
}

.carousel-overlay p.lead {
    font-size: 1.5rem;
    animation: flash 3s infinite 0.5s;
}

@keyframes flash {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}


